@use 'assets/scss/breakpoints' as *;
@use 'assets/scss/theme';

@font-face {
  font-family: 'Prosto One', serif;
  src: url(assets/fonts/Prosto_One/ProstoOne-Regular.ttf);
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

main {
  @include media-breakpoint-up(sm) {
    padding-left: 40px;
    padding-right: 40px;
  }

  h1 {
    position: relative;
    padding-left: 1rem;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;

    color: theme.$primary;
  }

  h1 .shadow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 0;
    border-radius: 50%;

    color: #00000000;
    background-color: theme.$primary;
    opacity: 0.25;
    filter: blur(10px);
  }
}

h1 {
  font-family: 'Prosto One';
  font-size: 2rem;
}
